body {
padding: 0;
margin: 0;
font-family: 'Anton', sans-serif;
font-weight: 400;
color: black;
font-size: 16px;
}



h1, h2, h3, h4, h5, h6 {

padding: 0;
margin: 0;
text-transform: uppercase;
}

ul, li {
display: block;
padding: 0;
margin: 0;
}

.container {
width: 1170px;
margin: 0 auto;
padding: 0 auto;
}



.header {
padding-top: 57px;
background: url('../img/header-bg.jpg') 100% 100% /cover;
height: 100%;
margin: 0 auto auto;

}

header a {
color:#fff;
}


.menu {

	display: flex;
}
.menu a {
	transition: all 0.5s ease;
}

.menu a:hover {

	text-decoration: underline;
}

.menu li a {

	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
}

.menu li  {
	margin-right: 40px;
}

.nav {
display: flex;
align-items: center;
margin-top: 57px;
letter-spacing: 0.1em;
}

.tel {
	font-size: 17px;
	text-decoration: none;;
    margin-left: auto;
    margin-top: 15px;
    letter-spacing: 0.1em;
}

.logo{

	margin-right: 69px;
}


.offer	p {
color: #fff;
font-size: 35px;
text-decoration: none;
text-transform: uppercase;
margin-bottom: -15px;
padding-top: 150px;
letter-spacing: 0.07em;
}

.offer h1 {
color: #fff;
font-size: 100px;
letter-spacing: 0.025em;
margin-top: -17px;
margin-bottom: 30px;
text-transform: uppercase;
font-weight: 400;
}

.button {
display: block;
text-align: center;
border: 1.5px solid #fff;
padding: 10px 22px;
color: #fff;
font-size: 17px;
text-decoration: none;
text-transform: uppercase;
letter-spacing: 0.15em;
width: 218px;
transition: all 0.5s ease;
}

.button:hover {
background: #fff;
color:#000; 
}

.date {
font-size: 1px;
margin-left: -1000px;
color: #fff;

}

section	{
	padding-top: 130px;
}

.description {
	width: 1170px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.container h2 {
margin-bottom: 58px;
font-family: 'Anton', sans-serif;
font-weight: 400;
font-size: 50px;
}

.left h2 {
font-family: 'Anton', sans-serif;
font-weight: 400;
color: #000;
font-size: 25px;
margin-bottom: 19px;
}

.left p {
width: 540px;
font-size: 16px;
font-weight: 400;
line-height: 1.62em;
font-family: 'Open Sans', sans-serif;
color: #000;
text-align:justify;
font-style: normal;

}

.right h2 {
margin-left: 45px;
font-family: 'Anton', sans-serif;
font-weight: 400;
color: #000;
font-size: 25px;
margin-bottom: 19px;
}

.right p {
font-weight: 400;
margin-left: 45px;
font-size: 16px;
line-height: 1.62em;
font-family: 'Open Sans', sans-serif;
color: #000;
text-align:justify;
font-style: normal;

}

.galery {
	margin-top: 67px;
	display: flex;
	justify-content: space-between;
}

.galery img {
	transition: all 0.5s ease;
}

.galery img:hover {
	box-shadow: 0 20px 40px rgba(0,0,0,0.3);
	transform: scale(1.1); }

.textleft {
margin-left: : 0 auto;
margin-top: -19px;
color: #000;
font-size: 42px;
font-family: Anton;
text-transform: uppercase;
font-weight: 400;
letter-spacing: 0.025em;

}

.textright {
text-align: center;
font-weight: 100;
margin-top: 140px;
color: #000;
font-size: 15px;
font-family: Anton;
}

